@use '@angular/material' as mat;
@use 'bootstrap/scss/bootstrap';


@include mat.core();

$custom-primary: mat.m2-define-palette((
  50: #e0f2f1,
  100: #b2dfdb,
  200: #80cbc4,
  300: #4db6ac,
  400: #26a69a,
  500: #8E09CF, // Color principal
  600: #00897b,
  700: #00796b,
  800: #00695c,
  900: #004d40,
  A100: #a7ffeb,
  A200: #64ffda,
  A400: #1de9b6,
  A700: #00bfa5,
  contrast: (
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
  )
));

$accent-palette: mat.m2-define-palette(mat.$m2-pink-palette, A200, A100, A400);
$warn-palette: mat.m2-define-palette(mat.$m2-red-palette);
$primary-palette: $custom-primary;

// Azul claro	mat.$m2-light-blue-palette
// Azul grisáceo	mat.$m2-blue-grey-palette
// Verde	mat.$m2-green-palette
// Naranja	mat.$m2-orange-palette
// Ámbar	mat.$m2-amber-palette
// Gris suave	mat.$m2-grey-palette
// Violeta	mat.$m2-deep-purple-palette


$app-theme: mat.m2-define-light-theme((
  color: (
    primary: $primary-palette,
    accent: $accent-palette,
    warn: $warn-palette,
  )
));

body, html {
  font-family: 'Roboto', sans-serif;
}

@include mat.all-component-themes($app-theme);

